#header{
	  background-image: url("Nairobi.jpg");
	  background-size: cover;
		height: 930px;
    background-position: center;
    text-align: center;
    margin: 0px;
    animation-name: example;
    animation-duration: 15s;
}

@keyframes example {
    0%  {background-image: url("Nairobi.jpg");}
    25% {background-image: url("Nairobi 2.jpg");}
   /*25%  {background-image: url("001_NAIROBI_WEBREADY_MUTUA-MATHEKA-12.jpg");}*/
   /*50%  {background-image: url("001_NAIROBI_WEBREADY_MUTUA-MATHEKA-5.jpg"); }
   75%  {background-image: url("mutua-matheka-MATATU-CULTURE-5.jpg"); }
   100% {background-image: url("001_NAIROBI_WEBREADY_MUTUA-MATHEKA-4.jpg"); }*/

}

h1 {
  font-size: 100px;
  font-family: Tahoma;
  font-weight: bold;
  margin-top: 400px;
}
h1 span {
    border: 5px solid #000;
}

nav{
 background-color: #757575;
}


 p{
 	font-size: 30px;
 	padding: 50px 0px 30px 0px;
 	color: white;

 }
 #Section{
 	background-image: url("Nairobi 2.jpg");
 }
 footer{
  background-color: #757575;

 }
