#header{
	  /*background-image: url("rsz_1nairobi.jpg");*/
	  background-size: cover;
		height: 700px;
    background-position: center;
    text-align: center;
    margin: 0px;
    animation-name: example;
    animation-duration: 20s;
}
body{
	background-color: #C8C8C8;
}

 @keyframes example {
    0%  {background-image: url("rsz_1nairobi.jpg");}
    25% {background-image: url("rsz_usiku.jpg");}
		50% {background-image: url("rsz_matatu.jpg")}
   /*25%  {background-image: url("001_NAIROBI_WEBREADY_MUTUA-MATHEKA-12.jpg");}*/
   /*50%  {background-image: url("001_NAIROBI_WEBREADY_MUTUA-MATHEKA-5.jpg"); }
   75%  {background-image: url("mutua-matheka-MATATU-CULTURE-5.jpg"); }
   100% {background-image: url("001_NAIROBI_WEBREADY_MUTUA-MATHEKA-4.jpg"); }*/

}

h1 {
  font-size: 60px;
  font-family: Tahoma;
  font-weight: bold;
  margin-top: 200px;
}
h1 span {
    border: 5px solid #000;
}

nav{
 background-color: #757575;
}


 p{
 	font-size: 18px;


 }
 #text2{
 	padding: 20px;
 }
 footer{
  background-color: #757575;
 }
